.Backdrop {
    height: 100%;
    width:100%;
    background-color: #000000b3;
    position:absolute;
    top:0;
    left:0;
}

.Modal {
    background-color:#FFF;
    padding:2rem;
    border-radius:0.5rem;
    position:relative;
    width:80%;
    max-width:720px;
    max-height:500px;
    overflow-y: auto;
    transition: all 0.3s ease-out;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.Exit {
    position:absolute;
    font-size:1.25rem;
    top:1rem;
    right:1rem;
    cursor:pointer;
}

.JobDescription {
   font-style: italic;
   font-size:1.25rem;
}

ul {
    margin-top:1rem;
    list-style: '- ';
}