.JobCard {
    width:80%;
    margin-bottom:1rem;
    text-align:center;
}

.Container {
    display:flex;
    flex-flow: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}