.JobCard {
    width:80%;
    max-width:30rem;
    margin-bottom:1rem;
    text-align:center;
    cursor:pointer;
}

.Container {
    display:flex;
    flex-flow: column;
    min-height:100vh;
    justify-content: center;
    align-items: center;
}