.headerContainer {
    padding: 0 1.5rem;
    display:flex;
}

.header {
    min-height:100vh;
    margin: auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.photoContainer {
    max-width:15rem;
}

h1 {
    margin-bottom:1rem;
}