.headerContainer {
    display:flex;
    min-height:100vh;
    padding-top:3rem;
}

.headerContainer {
    display:flex;
}

.header {
    
    margin: auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.HeaderCard {
    width:80%;
    max-width:30rem;
}

.photoContainer {
    max-width:15rem;
}

h1, h2 {
    margin-bottom:1rem;
}